include *.rst *.txt *.md
recursive-include docs *.rst *.txt *.md
graft */files
graft */*/files
recursive-include ethically/we/data *.txt *.tsv *.json *.bin
recursive-include ethically/we/data/evaluation *.txt *.tsv *.json *.bin
recursive-include ethically/tests/data *.txt *.tsv *.json *.bin
recursive-include docs/notebooks/* *.png
