[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
responsibly = {editable = true,path = "."}

[dev-packages]
# Linters
isort = "*"
pylint = "*"
pycodestyle = "*"
pep8 = "*"
pydocstyle = "*"
restructuredtext_lint = "*"
# Testing
# pytest >= 5.4.0 doesn't work with pytest-sugar <= 0.9.2
# once https://github.com/Teemu/pytest-sugar/pull/188 is
# merged, the upper bound can be removed.
# Ref: https://github.com/pytest-dev/pytest/issues/6931
pytest = ">=5.3.5,<5.4.0"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"
freezegun = "*"
# Reports
coverage-space = "*"
# Documentation
sphinx = "*"
nbconvert = "*"
docutils = "*"
pygments = "*"
# Build
wheel = "*"
pyinstaller = "*"
readme_renderer = "*"
# Release
setuptools = ">= 38.6.0"
twine = ">= 1.11.0"
# Tooling
jupyter = "*"
notebook = ">=5.7.8"
requests = ">=2.20.0"
sniffer = "*"
# Work around
zipp = ">=2.2.0"

